/template_dir/output/*
/template_dir/input/*
/template_dir/test_dir/*
/template_dir/tune_distribution/*
/template_dir/test_upper_limits_ayy/*
/template_dir/fft_colored_noise_kick_2/*
/sanity_checks/*.pkl
